body{
    background-color: #2d6a4f;
    text-align: center;
    color: aliceblue;
}

#submit{
    background-color: black;
    color: #fff;
    height: 40px;
    width: 125px;
    
}

#guess{
    height: 28px;
    width: 177px;
    border-radius: 10px;
}

